<%= form_for (@status) do |f| %>
<% if @status.errors.any? %>
  <div id="error_explanation">
    <ul>
      <% @status.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
     </ul>
  </div>
<% end %>

<div class="field">
  <%= f.label :copy_id %>
  <%= collection_select(:status, :copy_id, Copy.where("book_id = ?", @status.book_id), :id, :copy_availability) %>
</div>

<div class="field">
  <%= f.label :borrower_name %>
  <%= f.text_field :borrower_name %>
</div>

<div class="field">
  <%= f.label :borrower_email %>
  <%= f.email_field :borrower_email %>
</div>

<div class="field">
  <%= f.label :borrower_phone %>
  <%= f.telephone_field :borrower_phone %>
</div>

<div class="field">
  <%= f.label :checked_out %>
  <%= f.date_field :checked_out %>
</div>

<div class="field">
  <%= f.label :checked_in %>
  <%= f.date_field :checked_in %>
</div>

<div class="actions">
  <%= f.submit %>
</div>
<% end %>