<%= form_for ([@book, @status]) do |f| %>
<% if @status.errors.any? %>
  <div id="error_explanation">
    <ul>
      <% @status.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
     </ul>
  </div>
<% end %>

<div class="field">
  <%= f.label :borrower_name %>
  <%= f.text_field :borrower_name %>
</div>

<div class="field">
  <%= f.label :borrower_email %>
  <%= f.text_field :borrower_email %>
</div>

<div class="field">
  <%= f.label :borrower_phone %>
  <%= f.text_field :borrower_phone %>
</div>

<div class="actions">
  <%= f.submit %>
</div>
<% end %>