<%= form_for(@book) do |f| %>
  <div class="field">
   <%= f.label :title %>
   <%= f.text_field :title %>
  </div>
  <div class="field">
   <%= f.label :year %>
   <%= f.text_field :year %>
  </div>
  <div class="field">
   <%= f.label :author %>
   <%= f.text_field :author %>
  </div>
  <div class="field">
   <%= f.label :link %>
   <%= f.text_field :link %>
  </div> 
  <div class="field">
   <%= f.label :description %>
   <%= f.text_area :description %>
  </div>   
  <div class="field">
   <%= f.label :cover_image %>
   <%= f.file_field :cover_image %>
  </div>  
  <div class="field">
   <%= f.label "Number of copies" %>
   <%= f.number_field :initial_copies %>
  </div>    
  <div class="actions">
    <%= f.submit %>
  </div>    
<% end %>
