<h2><%= @book.title %></h2>
<%= render 'availability' %>

<div class="bookInfo">
  <% if @book.cover_image? %>
    <div class="bookCover">
      <%= image_tag @book.cover_image.url %>
    </div>
  <% end %>

  <div class="bookDetails">
    <ul>
      <li>Year published: <%= @book.year %></li>
      <li>Author: <%= @book.author %></li>
    </ul>
    <% if @book.description? %>
      <p><%= @book.description %></p>
    <% end %>  
    <% if @book.link? %>
      <%= link_to "More info", @book.link %>
    <% end %> 
  </div>   
</div>

<div class="adminDetails">
<%= link_to "Remove", @book, method: :delete, data: { confirm: "Are you sure?" } %> 
</div>

<%= render 'availability' %>