<p id="notice"><%= notice %></p>
<div class="bookInfo">
  <div class="bookCover">
  <%= render 'availability' %>
  <% if @book.cover_image? %>
      <%= image_tag @book.cover_image.url, class: "bookImage" %>
    </div>
  <% end %>

  <div class="bookDetails">
    <h2><%= @book.title %></h2>
<h3><%= @book.author %>, <%= @book.year %></h3>
    <% if @book.description? %>
      <%= simple_format(@book.description) %>
    <% end %>  
    <% if @book.link? %>
      <%= link_to "More info", @book.link %>
    <% end %> 
  </div>   
</div>