<!DOCTYPE html>
<html>
<head>
  <title>Readbooks</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href='https://fonts.googleapis.com/css?family=Merriweather:400,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  <meta name="viewport" content="width=device-width">
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/header' %>
<div id="main">
  <div class="content">
  <%= yield %>
  </div>
</div>
<%= render 'layouts/footer' %>
</body>
</html>
